# Web/API
fastapi==0.115.0
uvicorn[standard]==0.30.0

# NER / NLP
spacy==3.7.4
# Модель скачаете отдельно командой:
# python -m spacy download ru_core_news_md

# Классический ML / utils (если будете что-то пробовать сверх spaCy)
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4

# Валидация и схемы
pydantic==2.8.2

# Тесты
pytest==8.3.2

# Линтеры / форматтеры (опционально, можно убрать если времени мало)
black==24.8.0
ruff==0.6.8
